/* font-family: 'Mooli', sans-serif;
 */
 .papa{    
    background-image: radial-gradient(circle at 50% -20.71%, #a4d8ec 0, #a7d7ef 6.25%, #abd6f1 12.5%, #b0d5f3 18.75%, #b5d3f4 25%, #bbd2f4 31.25%, #c1d0f4 37.5%, #c7cff3 43.75%, #cdcdf2 50%, #d3cbf0 56.25%, #d9caed 62.5%, #dec8ea 68.75%, #e3c7e7 75%, #e8c6e3 81.25%, #ecc5df 87.5%, #efc4da 93.75%, #f2c4d6 100%);
    max-width: 100%;
    width: 30rem;
    height: 40rem;
    border: solid black 1px;
    padding: 1rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    transition: transform 0.1s ease; 
    box-shadow: 0.3rem 1rem 1rem black ;

}
.papa:hover{
    transform: scale(1.1); 
}
.perfil{
    padding: 3rem;
    display: grid;
    grid-template-columns: repeat(3,1fr );
    grid-template-rows:repeat(3,1fr) ;
    flex-wrap: wrap;
     
}
.titulo{
    display: flex;
    max-width: 100%;
    width: 100%;
    height: 8rem;
    align-items: center;
    font-size: 3rem;
    font-weight: 600;
    font-family: 'Mooli', sans-serif;
}
.info{
    font-size: 1.9rem;
    font-family: 'Mooli', sans-serif;
}
.button{
    width: 70%;
    height: 3rem;
    max-width: 100%;
    margin: auto;
    border-radius: 8px;
    background-color: #bbd2f4;
    cursor: pointer;
    transition: transform 0.1s ease; 
    font-family: 'Mooli', sans-serif;


}
.button:hover {
    transform: scale(1.1); 

}
.button button{
    font-family: 'Mooli', sans-serif;
    width: 100%;
    height: 3rem;
    max-width: 100%;
    margin: auto;
    border-radius: 8px;
    background-color: #bbd2f4;
    cursor: pointer;
    transition: transform 0.1s ease; 


}

.visual{
    width: 70%;
    height: 3rem;
    max-width: 100%;
    margin: auto;
    border-radius: 8px;
    background-color: #bbd2f4;
    cursor: pointer;
    transition: transform 0.1s ease; 
    font-family: 'Mooli', sans-serif;


}
.visual:hover {
    transform: scale(1.1); 

}
.visual button{
    font-family: 'Mooli', sans-serif;
    width: 100%;
    height: 3rem;
    max-width: 100%;
    margin: auto;
    border-radius: 8px;
    background-color: #bbd2f4;
    cursor: pointer;
    transition: transform 0.1s ease; 


}