.perfil {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    padding: 2rem;
    gap: 3rem;
}
.item {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    background-color: rgb(246, 246, 246);
    padding: 2rem;
    border-radius: 8%;
    box-shadow: 15px 14px 15px 0px rgba(0, 0, 0, 0.25);
    border: 1px ridge rgba(0, 0, 0, 0.196);
}
.item img {
    border-radius: 1rem;
    width:  60%;
    height: 100%;
}
.textos {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.titulo {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 600;
}
.info_if {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #737373;
    line-height: 1.4rem;
}
.circulo_humilde {
    width: 100%;
    height: 30%;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(21, 21, 21);
    border-radius: 2.5rem;
}
.circulo_humilde button {
    border: none;
    background: none;
    text-decoration: none;
    cursor: pointer;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
.circulo_humilde:hover {
    background-color: #053B50;
    transition: 1s;
    box-shadow: 5px 4px 5px 0px #053B50;
}
.circulos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 2rem;
}
.circulitos_1 {
    width: 3rem;
    height: 3rem;
    background-color:  #053B50;
    border-radius: 50%;
}
.circulitos_2 {
    width: 3rem;
    height: 3rem;
    background-color: #176B87;
    border-radius: 50%;
}
.circulitos_3 {
    width: 3rem;
    height: 3rem;
    background-color: #64CCC5;
    border-radius: 50%;
}
.circulitos_4 {
    width: 3rem;
    height: 3rem;
    background-color: #EEEEEE;
    border-radius: 50%;
}