.perfil{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 1rem;
    margin-left: 2rem;
    font-family: sans-serif;
    font-size: 2rem;

}
.items{

    border: 1rem solid #413e3e;
    margin-top: 2rem;
    display: flex;
    width: 32rem;
    height: 45rem;

    align-items: center;
    text-align: center;
    flex-direction: column;

}
.T{
    margin-top: 2rem;
    width: 14rem;
    height: 5rem;

}
.img{
    display: flex;
    align-items: center;
    margin-top :1rem ;
    width: 10rem;
    height: 12rem;
}
.desc{
    margin-top:1rem ;
    width: 30rem;
    height: 20rem;
}
.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display:flex ;
    border: solid thick  black;
}
.modal-container{
    position: relative;
    margin: auto;
    width: 90%;
    max-width: 600px;
    max-height: 100%;
    background-color: #fff;
    border-radius: 6px;
    padding: 3rem 2.5rem;
    display: grid;
    gap: 1rem;
    place-items: center; 
    grid-auto-columns: 100%;

}
.title{
    text-align: center;
    margin-bottom: 1rem;
}
.paragraph{
    text-align: center;
    margin-bottom: 1rem;
}
.modal-img{
    width: 50%;
    max-width: 200%;
}
.btns{
    display: flex;
    gap: 15rem;

}
.btns>a{
    text-decoration: none;
    padding: 1rem;
    border-radius: .3rem;
    color: #fff;
    font-weight: 400;
}
.btns .open-view{
    color: #222;
    background-color: #e6e6e6;
    border: solid thin gray;

}
.open-guide{
    background-color: #6c63ff;

}
.close{
    position: absolute;
    top: 5rem;
    right: 1rem;
    font-size: 2rem;
    text-decoration: none;
}