.contenedor{
    display: grid;
    grid-template-columns: repeat(5, 20rem);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    justify-self: center;
    align-content: center;
    padding: 1rem 1rem;
}
.cuadrado{
    width: 20rem;
    height: 30rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    border: 1px solid blue;
}
.cuadrado section{
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}
.cuadrado img {
    justify-self: center;
    align-self: center;
    width: 19rem;
    height: 13em;
    border-radius: 1rem;
}
.cuadrado4 img{
    width: 10rem;
}
.cuadrado7 img{
    height: 16rem;
    border-radius: 0;
}
.cuadrado7 section {
    margin-top: 2rem;
}
.boton{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    background-color: orange;
    width: 6.5rem;
    border-radius: 0.5rem;
    border: none;
    text-decoration: none;
    color: white;
    margin: auto;
    margin-top: 1rem;
}
