/* font-family: 'Fira Sans', sans-serif;
font-family: 'IBM Plex Sans', sans-serif;
font-family: 'Inter', sans-serif;
font-family: 'Mooli', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Work Sans', sans-serif; */
.perfil{
    max-width: 100%;
    height: 100%;
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 2rem;

    font-family: 'Mooli', sans-serif;
}
.cajita{
    margin: auto;
    margin-top: 2rem;
    width: 31rem;
    height: 30rem;
    border-radius: 3px;
    background-image: linear-gradient(60deg, #13855f 0%, #ddc943 100%);
   display: flexbox;
    box-shadow: 2px 2px 12px black;
    border-radius: 1rem;
    
}
.deco1{
    display: flex;
    flex-direction: ro;
}
.cajita:hover{
    zoom: normal;
}
.img1{
    max-width: 100%;
    height: 19rem;
    overflow: hidden;
    border-radius: 1rem 1rem 0rem 0rem;
    text-align: center;
    transition: transform 0.3s ease;

}
.img1:hover {
    transform: scale(1.1);
}
.img1 img{
    max-width: 100%;
    height: 100%;
    display: block;
}
.gif img{
    margin-top: 1.5rem;
    max-width: 100%;
    width: 8rem;
    height: 8rem;

}
.gif{
   
}
.span1{
    align-self: center;
    margin-left: 2rem;
    font-size: 1.5rem;
    display: grid;
    color: white;
    font-family: 'Mooli', sans-serif;
}
.title{
    font-size: 11.5px;
}
.nombre{
    margin-top: 1rem;
    font-size: 2rem;
}
.botonA {
    width: 8rem;
    display: inline-block;
    padding: 10px 20px;
    background-color: #3ea07a;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transform: scale(1);
    transition: transform 0.3s ease;
        box-shadow: 1.5px 1.5px 2px black;

}
.botonA:hover {
    transform: scale(1.1);
    box-shadow: 1.5px 1.5px 2px black;

}
.botonB {
    box-shadow: 1.5px 1.5px 2px black;

    width: 10rem;
    display: inline-block;
    padding: 10px 20px;
    background-color:#3ea07a;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transform: scale(1);
    transition: transform 0.3s ease;
    margin-top: 1rem;
    
}
.botonB:hover {
    transform: scale(1.1);
    box-shadow: 1.5px 1.5px 2px black;

}
.botonB a{
    color: #fff;
    text-decoration: none;
}
.boton1{
    align-self: center;
    margin-left: 2rem;
    font-family: 'Mooli', sans-serif;
}
.ventana{
    position: fixed;
    
}