.contenido_perfil {
display: grid;
grid-template-columns: 30rem 1fr;
grid-template-rows: 100vh;
}
.contenido_perfil .header{
border-right: 1px solid rgb(97, 97, 97);
}
.contenido_perfil .header #perfil {
height: 100%;
display: grid;
gap: 2rem;
padding: 2rem;
grid-template-columns: 100%;
grid-template-rows: 20rem 3rem 1fr 2rem;
justify-items: center;
}
.perfil{
display: grid;
grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}
.cajas{
display: flex;
width: 100%;
justify-content: space-between;
padding: 1rem;
}
.cuadros{
display: grid;
grid-template-columns: 1fr 1fr;
background-image: url('../img/background.png');
background-position: center;
background-size: cover;
background-repeat: no-repeat;
width: 48rem;
height: 30rem;
box-shadow: 8px 6px 5px ;
border-radius: 15px;
flex-direction: column;
justify-content: end;
}
.texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.texto h1{
    color: #2258C3;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 900;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.texto h2{
    color: #F0F0EE;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}
.texto p{
    color: rgba(255, 255, 255, 0.80);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
}
.btn{
    display: flex;
    justify-content: end;
}
.texto a{
    text-decoration: none;
    display: flex;
    width: 40%;
}
.boton{
    display: flex;
    background-image: url(../img/boton.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 2rem;
    color: #F0F0EE;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 0.9px;
    text-transform: uppercase;
}
.img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img img{
    width: 23rem;
    
}