/* Estilos para el cuadro */
.principal{
    max-width: 48rem;
    max-height: 48rem;
    display: grid;
    grid-template-columns: 30rem 1fr 1fr 1fr;
    gap: 1rem;
}
.cuadro {
    width: 30rem;
    height: 20rem;
    border: 1rem solid #000000;
    border: 1rem solid #080808;
    padding: 1rem;
    text-align: center;
}

/* Estilos para el enlace */
.cuadro a {
    text-decoration:double;
    color: #007bff;
}

/* Estilos para la imagen */
.cuadro img {
    max-width: 100%;
    max-height: 50%;
}