.contenedor{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2rem;
}
.items{
    margin-left: 2rem;
    width: 22rem;
    height: 27rem;
    padding: 1rem;
    border: 1px solid black;
}
.img{
    width: 20rem;
    height: 10rem;
}
.items h4{
    font-size: 1.7rem;
    margin-top: 1rem;
}
.palabra{
    height: 8rem;
    font-size: 1.3rem;
}
.items p{
    margin-top: 1rem;
}
.items input{
    width: 5rem;
    height: 2rem;
    margin-left: 7rem;
}