.perfil{
    max-width: 100%;
}
.proyectos{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
    margin: 1rem;
}
.items{
    margin-left: 2rem;
    width: 29rem;
    height: 22rem;
    padding: 1rem;
    border: 1px solid black;
}

.items img{
    width: 26.5rem;
    height: 10rem;
}
.items h3{
    margin-top: 1rem;
}
.texto{
    margin-top: 1rem;
    height: 4rem;
}
.items input{
    width: 6rem;
    margin-left: 20rem;
}